@font-face {
    font-family: 'Oswald';
    src: url('https://fonts.googleapis.com/css2?family=Gabarito:wght@600&family=Oswald:wght@400;500&display=swap');
}

body{
    font-family: 'Oswald', sans-serif;
}

body{
    background: url(img/pexels-adrien-olichon-2931286.jpg);
}

p,h1,h2,h3,li,ul,table,a{
    color:antiquewhite
}

h1{
    text-align: center;
}