@font-face {
    font-family: 'Oswald';
    src: url('https://fonts.googleapis.com/css2?family=Gabarito:wght@600&family=Oswald:wght@400;500&display=swap');
}

body{
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}

header{
    background-color: orange;
    border-radius: 10px;
}

h1{
    text-align: center;
}

.profil-picture{
    display: flex;
    justify-content: center;
    clip-path: ellipse(12% 48%);
}

h1,h2{
    padding: 8px;
    border: 3px solid black;
    border-radius: 8px;
    background-color: orange;
}

h3{
    text-align: center;
}

.tableau_1, .tableau_2{
    display: flex;
    justify-content: center;
}

textarea {
    resize: none;
}

th,td{
    border: 3px solid
}

tr:first-child th{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

tr:last-child td:first-child{
    border-bottom-left-radius: 10px;
}

tr:last-child td:last-child{
    border-bottom-right-radius: 10px;
}

table{
    background-color: rgba(233, 183, 90, 0.63);
    border-radius: 10px;
}

.Formulaire_1{
    display: flex;
    justify-content: center;
    color: black;
}

.container{
    display: flex;
    flex-direction: column;;
    display: grid;
    grid-template-columns: 100px, 100px;
    grid-template-rows: 100px, 100px;
}

footer p{
    text-align: center;
}

a:hover{
    background-color: orange;
    color: white;
    padding: 10px;
    border-radius: 10px;
}