body {
    font-family: "Century Gothic", Verdana, Tahoma, sans-serif
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 50px 25px;
    background: rgb(238, 73, 8);
    box-shadow: inset 0px -1px 0px antiquewhite;
}

.nav-icon{
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: 80px;
}

.nav-icon span{
    font-size: 25px;
    margin-left: 10px;
    font-weight: 400;
    color: #333;
}

.nav-icon img{
    border-radius: 20px;
    width: 500px;
}

.navlinks-container a{
    margin: 0 5px;
    font-size: 30px;
    font-weight: 500;
    text-decoration: none;
    color: white;
    display: inline-block;
    position: relative;
}

.navlinks-container a::after{
    content: "";
    display: block;
    position: absolute;
    bottom: -3px;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: left;
    background: white;
    transition: 0.3s ease-out;
}

.navlinks-container a:hover::after{
    transform: scaleX(1)
}

@media (max-width: 900px) {
    nav{
        padding: 15px 20px;
        position: fixed;
    }

    .nav-icon{
        order: 2;
        margin: 0 auto;
    }

    .nav-icon span{
        font-size: 22px;
    }

    .main-navlinks{
        order: 1;
    }

 
    .navlinks-container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        background: rgb(238, 73, 8);
        top: 100%;
        left: 0;
        height: 100vh;
        padding: 15px 50px 15px 20px;
        border-right: 1px solid #c5c5c6;
    }

    

    .navlinks-container a{
        font-size: 10px;
        margin: 2px;
    }
    
}

@media (max-width: 500px){
    .nav-icon img{
        width: 200px;
    }

    .nav-icon span{
        font-size: 20px;
    }
}

h1{
    border: solid 10px #333;
    font-size: 50px;
    padding: 100px;
    text-align: center;
    border-radius: 50px;
    margin-left: 400px;
    margin-right: 400px;
}

.grille{
    max-width: 1300px;
    width: 80%;
    height: auto;
    margin: 30px auto;
    border: 20px #333;
    display: grid;
    grid-template-columns: repeat(1, 595px);
    justify-content: center;
    grid-gap: 500px;
}

.grid-item{
    width: 595px;
    height: 600px;
}

.maillot_bulls{
    margin-left: -50px;

}

.description{
    color: black;
    text-decoration: underline black;
    font-size: 50px;
    text-align: center;
}

.Prix{
    color: rgb(238, 73, 8);
    text-decoration:  underline;
}

.maillot_wade{
    margin-left: -50px;
}

.maillot_philly{
    margin-left: -50px;
}

.maillot_warriors{
    margin-left: -50px;
}

#philly_1{
    width: 700px;
    height: 700px;
    border: solid 10px #333;
    border-radius: 20px;
}

#bulls_champ1{
    border: solid 10px #333;
    border-radius: 20px;
}

#wade_1{
    border: solid 10px #333;
    border-radius: 20px;
}

#warriors_1{
    border: solid 10px #333;
    border-radius: 20px;
}